div#Totals {
	align-items: center;
	box-shadow: 0 0 5px 1px black;
	display: flex;
	flex-direction: column;
	padding: 8px;
	width: 100%;
}

div#Totals table {
	display: flex;
	gap: 32px;
	flex-direction: column;
}

div#Totals table tbody {
	display: flex;
	gap: 4px;
	flex-direction: column;
}

div#Totals table tbody tr {
	border-bottom: 1px solid black;
	display: flex;
	gap: 90px;
	justify-content: space-between;
}

div#Totals table tbody tr td {
	color: #E0E0CE;
}